/*@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@700&display=swap');*/

* {
    -fx-font-family: "Comic Sans MS";
}

#questText {
    -fx-max-width: 300px;
    -fx-font-size: 20px;
    -fx-stroke: skyblue;
    -fx-stroke-width: 1px;
}


#actionLabel {
    -fx-font-size: 20px;
    -fx-text-alignment: center;
    -fx-stroke: skyblue;
    -fx-stroke-width: 1px;
}

#hpBar {
    -fx-progress-color: red;
}

#hpLabel {
    -fx-text-alignment: center;
}

#mapObjectsGridPane {
    -fx-background-image: url('../textures/tileable_grass.png');
}

#cell {

    -fx-max-width: 15%;
    -fx-border-width: 1px;
    -fx-border-color: grey;
}

#questVBox {
    -fx-max-width: 15%;
}

#startButton {
}

#backgroundPane {
    -fx-background-image: url('../textures/menuBackground.png');
    -fx-background-size: 100%;
}

#dialogPane {
    -fx-background-color: black;
}

#dialogLabel {
    -fx-text-fill: white;
}