/*@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@700&display=swap');*/



#questText {
    -fx-max-width: 300px;
    -fx-font-size: 20px;
    -fx-stroke: skyblue;
    -fx-stroke-width: 1px;
}

#actionLabel {
    -fx-font-size: 24px;
    -fx-text-alignment: center;
    -fx-text-fill: yellow;
}

#hpBar {
    -fx-progress-color: red;
}

#hpLabel {
    -fx-text-alignment: center;
}

#mapObjectsGridPane {
    -fx-background-image: url('../textures/tileable_grass.png');
}

#cell {

    -fx-max-width: 15%;
    -fx-border-width: 1px;
    -fx-border-color: grey;
}

#questVBox {
    -fx-max-width: 15%;
}

#startButton {
}

#backgroundPane {
    -fx-background-image: url('../textures/menuBackground.png');
    -fx-background-size: 100%;
}

#dialogPane {
    -fx-background-color: black;
}

#dialogLabel {
    -fx-text-fill: white;
}

#gameOverPane {
    -fx-background-image: url('../textures/death_screen.jpg');
    -fx-background-size: 100%;
    -fx-alignment: center;
}

#deathScreenVBox {
    -fx-alignment: center;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

#deathScreenLabel1, #deathScreenLabel2 {
    -fx-font-size: 70px;
    -fx-text-fill: yellow;
}

* {
    -fx-font-family: "Comic Sans MS";
    -fx-stroke: skyblue;
    -fx-stroke-width: 0.5px;
}

/*Image {*/
/*    -fx-fit-to-width: true;*/
/*    -fx-fit-to-height: true;*/
/*}*/